<div
  class="others"
  [class.is-selected]="onNotificationShown()"
  [ngbPopover]="othersTemplate"
  placement="bottom-left"
  triggers="click"
  [autoClose]="true"
  container="body"
  (shown)="onNotificationShown.set(true)"
  (hidden)="onNotificationShown.set(false)"
>
  <span class="others-text">+{{ extraCount }}</span>
</div>

<ng-template #othersTemplate>
  <div class="notification-popover">
    <p class="notification-popover-title">Board members</p>
    <ul class="notification-popover-list">
      <li *ngFor="let member of members">
        {{ getMemberName(member) }}
      </li>
    </ul>
  </div>
</ng-template>
