<div class="content">
  <aside>
    <div class="sidebar">
      <ng-container *ngTemplateOutlet="sidebarTemplate"></ng-container>
    </div>
  </aside>

  <ng-container *ngIf="boards?.length > 0; else noBoards">
    <div class="main-container">
      <header class="header">
        <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
      </header>
      <div class="main">
        <div [ngSwitch]="selectedToolbarTab()">
          <ng-container *ngSwitchCase="'Chat'">
            <ng-container *ngTemplateOutlet="chatTemplate"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'Board'">
            <ng-container *ngTemplateOutlet="boardTemplate"></ng-container>
          </ng-container>
          <ng-container *ngSwitchCase="'Backlog'">
            <ng-container *ngTemplateOutlet="backlogTemplate"></ng-container>
          </ng-container>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-template #noBoards>
    <div class="main-empty-state">No boards</div>
  </ng-template>
</div>

<ng-template #sidebarTemplate>
  <div class="workspace">
    <ng-container *ngIf="workspace?.id; else createWorkspace">
      <div class="workspace-info">
        <div class="workspace-avatar">V</div>
        <div class="workspace-name">{{ workspace?.name }}</div>
      </div>
      <div class="workspace-actions">
        <div class="invite-btn" (click)="onOpenInviteModal()">Invite</div>
      </div>
    </ng-container>
    <ng-template #createWorkspace>
      <div class="workspace-actions">
        <div class="invite-btn" (click)="onOpenCreateModal()">Create Workspace</div>
      </div>
    </ng-template>
  </div>

  <!-- BOARDS -->
  <ng-container *ngIf="workspace">
    <div class="boards-section">
      <div class="boards-header">
        <span>Boards</span>
        <div
          class="add-board-btn"
          ngbTooltip="Add Board"
          triggers="hover"
          container="body"
          placement="bottom"
          (click)="onAddBoard()"
        >
          <svg-icon class="add-icon" [src]="sharedSvgRoutes.PLUS_ICON" />
        </div>
      </div>

      <div class="boards-list">
        <ng-container *ngIf="boards?.length > 0; else noBoardItems">
          <div class="board-item" *ngFor="let item of boards">
            {{ item.name }}
          </div>
        </ng-container>
        <ng-template #noBoardItems>
          <div class="empty-state-board">No boards</div>
        </ng-template>
      </div>
    </div>
  </ng-container>
</ng-template>

<ng-template #headerTemplate>
  <div class="header-container">
    <div class="toolbar">
      <div class="toolbar-tabs">
        <div
          class="toolbar-slider"
          [style.left]="getToolbarSliderLeft()"
          [style.width]="getToolbarSliderWidth()"
        ></div>
        <div
          class="toolbar-item"
          *ngFor="let item of toolbarItems"
          [class.toolbar-item--active]="selectedToolbarTab() === item"
          (click)="onToolbarTabSelect(item)"
        >
          <span class="toolbar-item-text">{{ item }}</span>
        </div>
      </div>
    </div>
    <div class="input">
      <app-input
        [label]="'Search'"
        [type]="'search'"
        [icon]="sharedSvgRoutes.SEARCH_ICON"
      />
    </div>
    <div
      class="users-container-add-button"
      ngbTooltip="Create"
      triggers="hover"
      container="body"
      placement="bottom"
      (click)="onAddTask()"
    >
      <svg-icon
        [src]="sharedSvgRoutes.PLUS_ICON"
        class="users-container-add-button-icon"
      ></svg-icon>
    </div>
    <div class="users-container">
      <app-avatar
        *ngFor="let user of workspaceMembers"
        [firstName]="user.firstName"
        [lastName]="user.lastName"
        [width]="18"
        [height]="18"
        [dashboardType]="true"
        [isSelected]="selectedUser() === user.id"
        (click)="onUserSelect(user.id)"
      ></app-avatar>
      <app-ve-extra-members></app-ve-extra-members>
    </div>
  </div>
  <div class="header-actions">
    <app-ve-notification></app-ve-notification>
    <app-ve-profile></app-ve-profile>
  </div>
</ng-template>

<ng-template #boardTemplate>
  <div class="main-content">
    <div class="phases-container">
      <div class="phase-container" *ngFor="let phase of backlogPhases" [class.empty-state]="true">
        <span class="phase-title">{{ phase }}</span>
        <div class="phase-content"></div>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #chatTemplate>
  <app-chat></app-chat>
</ng-template>

<ng-template #backlogTemplate>
  <div class="backlog-container">
    <div class="lock-toast" *ngIf="showLockToast">{{ stickyLockMessage }}</div>

    <div
      class="sprint-container"
      *ngFor="let group of boardTaskGroups"
      [class.is-expanded]="isGroupsExpanded"
    >
      <div
        class="sprint-header"
        [class.is-collapsed]="!isGroupsExpanded"
        (click)="onHeaderGroupsToggle()"
      >
        <div class="sprint-header-general">
          <svg-icon
            [src]="sharedSvgRoutes.ARROW_DOWN_ICON"
            class="sprint-header-icon"
            [class.is-expanded]="isGroupsExpanded"
          ></svg-icon>
          <div>
            <span class="sprint-header-text">{{ group.name }}</span>
          </div>
        </div>
      </div>

      <div class="task-group" [class.is-collapsed]="!isGroupsExpanded">
        <ng-container *ngIf="group.tasks.length > 0; else noTasks">
          <div
            class="task-item"
            *ngFor="let task of group.tasks"
            [class.is-locked]="activeWorkItemId === task.id"
          >
            <div class="task-left" (click)="onOpenTask(task)">
              <input type="checkbox" class="checkbox" />
              <div class="task-main">
                <span class="task-title">{{ task.name }}</span>
                <span class="task-description">{{ task.description }}</span>
              </div>
            </div>

            <div class="task-middle">
              <span class="task-assignee">
                {{ task.assignedUserId ? ('User ' + task.assignedUserId) : 'Unassigned' }}
              </span>
            </div>

            <div class="task-right">
              <select
                class="status-select"
                [value]="task.status"
                (change)="onTaskStatusChange(task, $any($event.target).value)"
              >
                <option *ngFor="let status of statusOptions" [value]="status">
                  {{ status }}
                </option>
              </select>
              <div class="points-container">
                <span class="points-label">{{ task.priority }}</span>
              </div>
           <div class="task-menu" 
     [ngbPopover]="taskOptionsPopover" 
     placement="left"
     triggers="click">
  ⋮
</div>

<ng-template #taskOptionsPopover>
  <div class="task-options">
    <button type="button" (click)="onEditTask(task)">Edit</button>
    <button type="button" (click)="onDeleteTask(task)">Delete</button>
    
    <button type="button" 
            *ngIf="activeWorkItemId === task.id" 
            (click)="onReleaseTask(task)">
      Release
    </button>
  </div>
</ng-template>
              <!-- <div class="task-options" *ngIf="taskMenuOpenId === task.id">
                <button type="button" (click)="onEditTask(task)">Edit</button>
                <button type="button" (click)="onDeleteTask(task)">Delete</button>
                <button
                  type="button"
                  *ngIf="activeWorkItemId === task.id"
                  (click)="onReleaseTask(task)"
                >
                  Release
                </button>
              </div> -->
            </div>
          </div>
        </ng-container>

        <ng-template #noTasks>
          <div class="empty-state-board">No tasks found for this sprint.</div>
        </ng-template>
      </div>
    </div>
  </div>
</ng-template>
