<div class="content">
  <aside>
    <div class="sidebar">
      <nav></nav>
    </div>
  </aside>

  <div class="main-container">
    <header class="header">
      <ng-container *ngTemplateOutlet="headerTemplate"></ng-container>
    </header>
    <div class="main">
      <ng-container *ngTemplateOutlet="toolbarTemplate"></ng-container>
      @if(selectedToolbarTab() === 'Chat'){
      <ng-container *ngTemplateOutlet="chatTemplate"></ng-container>
      } @else {
      <ng-container *ngTemplateOutlet="mainTemplate"></ng-container>
      }
    </div>
  </div>
</div>

<ng-template #sidebarTemplate> </ng-template>

<ng-template #headerTemplate>
  <div class="header-container">
    <div class="toolbar">
      <div class="toolbar-tabs">
        <div
          class="toolbar-slider"
          [style.left]="getToolbarSliderLeft()"
          [style.width]="getToolbarSliderWidth()"
        ></div>
        @for (item of toolbarItems; track item) {
        <div
          type="button"
          class="toolbar-item"
          [class.toolbar-item--active]="selectedToolbarTab() === item"
          (click)="onToolbarTabSelect(item)"
        >
          <span class="toolbar-item-text">{{ item }}</span>
        </div>
        }
      </div>
    </div>
    <div class="input">
      <app-input
        [label]="'Search'"
        [type]="'search'"
        [icon]="sharedSvgRoutes.SEARCH_ICON"
      />
    </div>
    <div
      class="users-container-add-button"
      ngbTooltip="Create"
      triggers="hover"
      container="body"
      placement="bottom"
    >
      <svg-icon
        [src]="sharedSvgRoutes.PLUS_ICON"
        class="users-container-add-button-icon"
      ></svg-icon>
    </div>
    <div class="users-container">
      @for (user of users; track user.id) {
      <app-avatar
        [firstName]="user.firstName"
        [lastName]="user.lastName"
        [width]="18"
        [height]="18"
        [dashboardType]="true"
        [isSelected]="selectedUser() === user.id"
        (click)="onUserSelect(user.id)"
      />
      }
    </div>
  </div>
  <div class="header-actions">
    <div
      class="notification-icon-container"
      [class.active-container]="onNotificationShown()"
      [ngbPopover]="notificationPopover"
      placement="bottom-end"
      triggers="click"
      [autoClose]="true"
      container="body"
      (shown)="onNotificationShown.set(true)"
      (hidden)="onNotificationShown.set(false)"
    >
      <div
        ngbTooltip="Notification"
        [tooltipClass]="'notification-tooltip'"
        [animation]="true"
        placement="bottom"
        triggers="hover"
        container="body"
      >
        <svg-icon
          class="notification-icon"
          [src]="sharedSvgRoutes.NOTIFICATION_ICON"
        ></svg-icon>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #toolbarTemplate>
  <div class="toolbar"></div>
</ng-template>

<ng-template #notificationPopover>
  <div class="notification-popover">
    <p class="notification-popover-title">Notification</p>
  </div>
</ng-template>

<ng-template #mainTemplate>
  @let phases = [ "ToDo", "In Progress", "PR", "Testing", "Done" ];
  <div class="main-content">
    <div class="phases-container">
      @for (phase of phases; track phase) {
      <div class="phase-container">
        <span class="phase-title">{{ phase }}</span>
        <div class="phase-content"></div>
      </div>
      }
    </div>
  </div>
</ng-template>

<ng-template #chatTemplate>
  <app-chat></app-chat>
</ng-template>
