<div class="chat-card">
  <div class="chat-header">
    <app-avatar
      [firstName]="displayFirstName()"
      [lastName]="displayLastName()"
      [width]="24"
      [height]="24"
      aria-hidden="true"
    />

    <div class="chat-title">
      <div class="chat-title__row">
        <div class="chat-title__name">
          {{ displayFirstName() }}@if (!isGroup()) { {{ displayLastName() }} }
        </div>

        <!-- <div class="chat-badges">           
            <span
              class="chat-pill"
              [class.chat-pill--online]="presence() === 'online'"
              [class.chat-pill--typing]="presence() === 'typing'"
              [class.chat-pill--offline]="presence() === 'offline'"
            >
              @if (presence() === 'online') { Online } @if (presence() ===
              'typing') { Kuca... } @if (presence() === 'offline') { Offline }
            </span>
            @if (presence() === 'offline' && lastSeenText()) {
              <span class="chat-last-seen">{{ lastSeenText() }}</span>
            }
          </div> -->
      </div>
    </div>
  </div>

  <div class="chat-body custom-scrollbar">
    @for (group of messageGroups(); track group.dateKey) {
    <div class="msg-date-group">
      <div class="msg-date">{{ group.dateLabel }}</div>
      @for (m of group.messages; track m.id) {
      <div
        class="msg"
        [class.msg--me]="m.from === 'me'"
        [class.msg--them]="m.from === 'them'"
      >
        @if (m.from !== 'me') {
        <app-avatar
          class="msg-avatar"
          [title]="senderLabel(m)"
          [firstName]="m.senderFirstName"
          [lastName]="m.senderLastName"
          [width]="28"
          [height]="28"
        />
        }
        <div class="msg-content">
          @if (isGroup() && m.from === 'them') {
          <div class="msg-sender">{{ senderLabel(m) }}</div>
          }
          <div class="msg-bubble">
            <div class="msg-text">{{ m.text }}</div>
            <div class="msg-meta">{{ m.time }}</div>
          </div>
        </div>
      </div>
      }
    </div>
    }
  </div>

  <div class="chat-footer">
    <div class="chat-compose">
      <textarea
        #draftInput
        class="chat-input"
        rows="1"
        placeholder="Unesite poruku..."
        [value]="draft()"
        (input)="onDraftInput(draftInput.value)"
        (keydown)="onKeyDown($event)"
      ></textarea>
    </div>
  </div>
</div>
