<div
  class="input-wrapper"
  [class.focused]="isFocused()"
  [class.has-value]="!!value()"
  [class.has-icon]="!!icon()"
  [class.has-error]="hasError()"
  [class.is-valid]="isValid()"
>
  <div class="input-container">
    @if (icon()) {
    <svg-icon class="input-icon" [src]="icon()"></svg-icon>
    }
    <input
      class="input-field"
      [type]="type()"
      [id]="label() || 'input'"
      [value]="value()"
      [attr.autocomplete]="autocomplete()"
      [placeholder]="''"
      (focus)="onFocus()"
      (blur)="onBlur()"
      (input)="onInput($event)"
    />
    <label class="input-label" [for]="label() || 'input'">{{ label() }}</label>
  </div>
</div>
@if (errorMessage()) {
<div class="error-message">{{ errorMessage() }}</div>
}
